.graphic {
      font-family: sans-serif;
      color: #333;
      fill: #333;
  }

  .hed {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 8px;
      text-align: center;
  }

  .button{
    text-align: center;
  }

  .dek {
      font-size: 16px;
      color: #555;
      margin-top: 15px;
      margin-left: 80px;
      margin-bottom: 15px;
  }

  .footnote {
      font-size: 12px;
      color: #999;
      margin-top: 10px;
  }

  .footnote a {
      color: #888;
      text-decoration: underline dashed;
  }

  .table{
    margin-left: 80px;
  }

  .axis path,
  .axis line {
      display: none;
  }

  .axis text,
  .column .title {
      fill: #4c4c4c;
      font-size: 12px;
  }

  .bar {
      fill: steelblue;
  }

  .column .bar--underlying {
      fill: #f3f3f3;
  }

  .label {
      font-size: 12px;
      fill: #4c4c4c;
  }

  .label--white {
      fill: #fff;
  }

/*buttons for switching graphics*/
.btn-pressed{
  background-color: #FFEBCD;
  border: none;
  padding: 5px 10px;
  color: black;
  font-weight: 550;
}
.btn-pressed:hover, .btn-pressed:focus{
  background-color: #DEB887;
  outline: none;
}